/* 
    CSS Guide 

    1.  General Styles (Normalize)
    2. Zima summer flavors text

 */


/* 1. ---General Styles--- */

body {
    margin: 0px;
    padding: 0px;
}

img,
embed,
object,
video,
picture {
    max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
    transition: all .5s ease-in-out;
}

input,
textarea {
    display: block;
    margin: 0px;
    padding: 0px;
}

/* Class Styles */

.spacer {
    margin-top: 30px;
}

.txt-spacer {
    margin-top: 30px;
}


/* ---End of General Styles--- */

/* 2. ---Zima summer flavors text--- */

/* Id Styles */

#zima-title {
   text-align: center;
   font-weight: lighter;
   color: #323050;
}

/* Class Styles */

.sub-title {
    text-align: center;
    font-weight: 200;
    color: #16C0AE;
}

/* ---End of Zima summer flavors text--- */





